@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Este foi construido com :</p>
    <p>- ASP.NET Core.</p>
    <p>- Entity Framework Core.</p>
    <p>- SQL Server</p>
    <p>- Visual Studio</p>
</div>
